<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order confirmation" store_name=$store.frontend_name}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order_data.email_customer_note|escape|nl2br":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var shipping_msg":"Shipping message",
"var created_at_formatted":"Order Created At (datetime)",
"var store.frontend_name":"Store Frontend Name",
"var store_phone":"Store Phone",
"var store_email":"Store Email",
"var store_hours":"Store Hours",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var order_data.is_not_virtual":"Order Type",
"var order":"Order",
"var order_id": "Order DB Id",
"var order_data.customer_name":"Customer Name"
} @-->

<style>
    .giftcard-heading {
        padding-top: 30px;
    }

    .giftcard-table-caption {
        font-size: 2.1rem;
        font-weight: 300;
    }

    #giftcard-table {
        border-collapse: collapse;
        width: 100%;
        border-top: 1px solid #DDD;
    }

    #giftcard-table th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #DDD;
    }

    #giftcard-table tr:hover {
        background-color: #D6EEEE;
    }
</style>
<!--<script type="text/javascript">-->
<!--    document.getElementById('test321').innerHTML = 'greeting';-->
<!--</script>-->

{{template config_path="design/email/header_template"}}
<h2 class="giftcard-heading">{{trans "Your Order #%order_id" order_id=$orderId}}</h2>
<div class="table-container">
    <p class="giftcard-table-caption">{{trans "Placed on %created_at" created_at=$createdAt}}</p>
    <table id="giftcard-table">
        <thead>
        <tr>
            <th>
                {{trans "Name Gift Card"}}
            </th>
            <th>
                {{trans "Code Gift Card"}}
            </th>
            <th>
                {{trans "Price Gift Card"}}
            </th>
            <th>
                {{trans "Value Gift Card"}}
            </th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col title">
                <!--                {{trans '%name_gift_card' name_gift_card=$nameGiftCard|raw}}-->
                {{var nameGiftCard|raw}}
            </td>
            <td class="col title">
                {{var codeGiftCard|raw}}
            </td>
            <td class="col title">
                <!--                {{trans '%price_gift_card' price_gift_card=$priceGiftCard|raw}}-->
                {{var priceGiftCard|raw}}
            </td>
            <td class="col title" id="test321">
                <!--                {{trans '%value_gift_card' value_gift_card=$valueGiftCard|raw}}-->
                {{var valueGiftCard|raw}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
{{template config_path="design/email/footer_template"}}

