<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order confirmation" store_name=$store.frontend_name}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order_data.email_customer_note|escape|nl2br":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var shipping_msg":"Shipping message",
"var created_at_formatted":"Order Created At (datetime)",
"var store.frontend_name":"Store Frontend Name",
"var store_phone":"Store Phone",
"var store_email":"Store Email",
"var store_hours":"Store Hours",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var order_data.is_not_virtual":"Order Type",
"var order":"Order",
"var order_id": "Order DB Id",
"var order_data.customer_name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}
<style>
    .giftcard-heading {
        padding-top: 30px;
    }

    .action-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .form-container {
        display: flex;
        flex-direction: row;
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .btn-primary {
        background: #1979c3;
        border: 1px solid #1979c3;
        color: #ffffff;
        font-weight: 600;
        padding: 7px 15px;
        font-size: 1.4rem;
        box-sizing: border-box;
        vertical-align: middle;
    }

    .giftcard-table-caption {
        font-size: 2.1rem;
        font-weight: 300;
    }

    #giftcard-table {
        border-collapse: collapse;
        width: 100%;
        border-top: 1px solid #DDD;
    }

    #giftcard-table th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #DDD;
    }

    #giftcard-table tr:hover {
        background-color: #D6EEEE;
    }
</style>
<table border="1">
    <tr class="email-summary">
        <td>
            <h1>{{trans "Your Order #%increment_id" increment_id=$incrementId}}
            </h1>
            <p>{{trans "Placed on %created_at" created_at=$createdAt}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="order-details">
                <h3>{{trans "Info Gift Card Order"}}</h3>
                <tr>
                    <th>
                        <p>{{trans "Name gift card"}}</p>
                    </th>
                    <th>
                        <p>{{trans "Price gift card"}}</p>
                    </th>
                    <th>
                        <p>{{trans "Value gift card"}}</p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <span> {{trans '%name_gift_card' name_gift_card=$nameGiftCard}}</span>
                    </td>
                    <td>
                        <span>{{trans '%price_gift_card' price_gift_card=$priceGiftCard}}</span>
                    </td>
                    <td>
                        <span>{{trans '%value_gift_card' value_gift_card=$valueGiftCard}}</span>
                    </td>
                </tr>
            </table>
            {{layout handle="sales_email_order_items" order_id=$order_id area="frontend"}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
