<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mageplaza_SimpleGiftCard::sub_menu_mageplaza" title="Mageplaza" sortOrder="51">
                    <resource id="Mageplaza_SimpleGiftCard::mageplaza_manage_code" title="Test CRUD" sortOrder="1"/>
                    <resource id="Mageplaza_SimpleGiftCard::mageplaza_manage_code_crud" title="Manage Codes" sortOrder="2"/>
                    <resource id="Mageplaza_SimpleGiftCard::mageplaza_configuration" title="Configuration"
                              sortOrder="3"/>
                </resource>

                <!--                <resource id="Magento_Backend::stores">-->
                <!--                    <resource id="Magento_Backend::stores_settings">-->
                <!--                        <resource id="Magento_Config::config">-->
                <!--                            <resource id="Mageplaza_SimpleGiftCard::mageplaza_configuration" title=" Configuration"/>-->
                <!--                        </resource>-->
                <!--                    </resource>-->
                <!--                </resource>-->
            </resource>
        </resources>
    </acl>
</config>
