<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="giftcard_listing_data_source" xsi:type="string">HelloWorldVirtualType</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="HelloWorldVirtualType"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageplaza_simple_gift_card</argument>
            <argument name="resourceModel" xsi:type="string">Mageplaza\SimpleGiftCard\Model\ResourceModel\GiftCard
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Block\Cart\Coupon">
        <plugin name="checkout_coupon_apply" type="Mageplaza\SimpleGiftCard\Plugin\CheckoutCouponApply"/>
    </type>
</config>
